

.history-entry {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(143, 132, 132);
    border-radius: 15px;
    color: white;
    margin: 2px;
    width: 95%;
    user-select: none;
    
}

.history-entry:hover {
  background-color: rgb(230, 228, 228);
  border: 1px solid black;
  color: black;
}



.delete-button{
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    border-radius: 50px;
    font-size: 8px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: -70px;
}
.delete-button:hover {
     background-color: rgb(212, 150, 43);
     color: black;
}

.expression {
    font-size: 16px;
}

.result {
    font-size: 16px;
}

