.history-entry {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
    margin: 2px;
    width: 90%;
}

.history-entry div {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.history-entry-functions {

}

.delete-button{
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    border-radius: 30px;
    font-size: 8px;
    margin-top: 1px;
    margin-bottom: 2px;
    margin-left: -55px;
}

.expression {
    font-size: 16px;
}

.result {
    font-size: 16px;
}

