/* Header.css */
.header {
    background-color: #8a6abb;
    color: #e1b2b2;
    padding: 10px;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    height: 130px;
    border-radius: 40px;
    box-shadow: -3px -6px 14px 3px rgba(0, 0, 0, 0.1);
  }

  .header h1 {
    color: rgb(244, 172, 30);
  }
  
  .navbar {
    display: flex;
    justify-content: center; /* Center the flex items horizontally */
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
  }
  
  .navbar ul li {
    margin-right: 10px; /* Space between links */
  }
  

  .navbar ul li a {
    color: #fff;
    text-decoration: none;
  }

  