.history-layout {
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(196, 184, 184);
    border-radius: 20px;
}

.history-list {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; 
    align-items: center;
    padding: 10px;
    background-color: rgb(217, 217, 217);
    margin: 10px;
    border-radius: 10px;
   
}

.history-title {
    padding: 7px;
    background-color: rgb(223, 217, 217);
    border-radius: 30px;
    border: 1px solid rgb(177, 177, 177);
}

.history-paragraph {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    color: rgb(0, 0, 0);
}